apiVersion: v1
kind: Service
metadata:
  name: $(APP_NAME)
  namespace: $(NAMESPACE)
  labels:
    app: $(APP_NAME)
spec:
  type: LoadBalancer
  selector:
    app: $(APP_NAME)
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
