apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-simple
  namespace: default
  annotations:
    # Essential for Spinnaker UI visibility
    moniker.spinnaker.io/application: nginx-simple
    moniker.spinnaker.io/cluster: nginx-simple
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
