apiVersion: v1
kind: Service
metadata:
  name: nginx-service-lb
  namespace: default
  annotations:
    # Forces AWS to create an Internet-facing Load Balancer
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: nginx
